<div class ="product">
<h1><%= link_to product.name, product %></h1>

<% if product.image_filename.present? %>
<p><%= image_tag product.image_filename, width: '200' %></p>
<% end %>

<div><%= product.description %></div>

<p><strong>Price: </strong><%= number_to_currency product.price %></p>


</div>